#editContainerSec{
display: flex;
justify-content:center;
}


.editContainer{
    background-color: #D7BC9E;
    height: 250px;
    width: 95%;
    border-radius: 5px;
    margin: 55px 5px 0 5px;
}

.noteEdit{
    background-color: #D7BC9E;
    height: 65%;
    width: 98%;
    border: none;
    
}

.titleEdit{
    background-color: #D7BC9E;
    height: 15%;
    width: 98%;
    border: none;
}

::placeholder{
    text-align: center;
    line-height: 50px;
}

#editBS{
    display:flex;
    background-color: #D7BC9E;
    height: 10%;
    width: 100%;
    justify-content: center;
}

.saveB{
    background-color: #0994D5;
    border:none;
    border-radius:15px;
    height:20px;
    width:80px;
    color:white;
    margin: 10px;
}

.cancel{
    background-color: red;
    border:none;
    border-radius:15px;
    height:20px;
    width:80px;
    color:white;
    margin: 10px; 
}

#foter{
    display:flex;
    background-color: black;
    width: 100%;
    height:35px;
    position: absolute;
    bottom: 0;
    flex-direction:row ;
    justify-content:center;
  }
  
  #copy{
    width:200px;
    height: 18px;
    background-color: black;
    color: white;
    margin:0px 0 0 60px;
  }
  
  #catlogo{
    height: 30px;
    width: 30px;
    margin: 0px 65px 0 0;
    padding: 0;
    background-color: black;
  }