#header{
    display: flex;
    background-color: #9E7C8C;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items:flex-end;
}
#letras{
    width: 290px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #9E7C8C;
}
#logOutB{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
#logout{
    display: flex;
    justify-content: flex-end;
}

/*Crear nota*/
#imputNoteSec{
    display: flex;
    justify-content:center; 
}

#imputNotesForm{
    background-color: #D7BC9E;
    height: 170px;
    width: 355px;
    border-radius: 5px;
    margin: 5px;
}

::placeholder{
    text-align: center;
    /*line-height: 100px;*/
}

#Title{
    background-color: #D7BC9E;
    height: 20px;
    width: 350px;
    border-radius: 5px;
    border:none;
    text-align: center;
}

#Description{
    background-color: #D7BC9E;
    height: 110px;
    width: 350px;
    border-radius: 5px;
    border:none;
}

#saveNoteBSec{
    background-color: #D7BC9E;
    display: flex;
    justify-content: center;
}

#saveNoteB{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin: auto 50px;
    background-color: #0994D5;
    
}

/*Notas ya impresas*/
#NotesSec{
    display:grid;
    grid-template-columns: auto auto ;
    row-gap: 10px;
    grid-auto-rows:auto;
    padding: 10px;
}

.noteContainer{
    background-color: #D7BC9E;
    width: 150px;
    border-radius: 5px;
    margin: 2px 5px 0 10px;
    
}

.noteTitle{
    background-color: #D7BC9E; 
    text-align: center;
    margin: 10px 0 8px 0;
    font-size: 15px;
}
.noteDescription{
    background-color: #D7BC9E;
    padding: 4px;
    text-align: center;
    font-size: 13px;
}

/*Botones de nota*/
#delete, #edit{
    background-color: #D7BC9E;
    height: 20px;
    width: 20px;
    margin: 8px 30px 0 20px;
}

#delete{
    height: 22px;
}

/*Responsive*/

@media(max-width: 340px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto ;
    }
  }

@media(min-width: 500px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto;
    }
  }

  @media(min-width: 650px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto;
    }
  }

  @media(min-width: 910px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
    }
  }

  @media(min-width: 1080px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto;
    }
  }
  @media(min-width: 1250px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
  }

  @media(min-width: 1480px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
  }
  @media(min-width: 1600px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
    }
  }
  @media(min-width: 1700px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    }
  }
  @media(min-width: 1800px){
    #NotesSec{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    }
  }
