#header{
    display: flex;
    background-color: #9E7C8C;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items:flex-end;
}
#letras{
    width: 290px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #9E7C8C;
}
#logOutB{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
#logout{
    display: flex;
    justify-content: flex-end;
}




#imputNotesForm{
    
    background-color: #D7BC9E;
    height: 170px;
    width: 165px;
    border-radius: 5px;
    margin: 5px;
}

::placeholder{
 position: absolute;

 top: 0;
 left: 60px;
}

#Title{
    background-color: #D7BC9E;
    height: 20px;
    width: 160px;
    border-radius: 5px;
    border:none;
    text-align: center;
}

#Description{
    background-color: #D7BC9E;
    height: 110px;
    width: 160px;
    border-radius: 5px;
    border:none;
}

#saveNoteB{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin: auto 50px;
    background-color: #0994D5;
}

.noteContainer{
    background-color: #BC6633;
    height: 170px;
    width: 165px;
    border-radius: 5px;
    margin: 5px;
}

.noteTitle{
    background-color: #BC6633;
    border-radius: 5px;
    text-align: center;
}
.noteDescription{
    background-color: #BC6633;
    padding: 4px;
    font-size: 15px;
}

#delete, #edit{
    background-color: #BC6633;
    height: 20px;
    width: 20px;
}